<section id="attention">
    <img src="/assets/bgd.png" class="background">
    <div class="content">
        <h1>
            <span class="primary">Der günstigste, zuverlässigste, CO2-neutralste</span> <span class="red italic  animate-fade-in">Mülltonnendienst im Abo</span>
        </h1>
        <img height="300" src="{% include resizeimage.html url='/assets/opener.png' height=450 %}" class="opener">
        <h2>Subtitle </h2>
    </div>
    <div class="button-row">
        <a class="button red" href="#download">Jetzt herunterladen ↓</a>
    </div>
</section>