<section id="attention">
  <div class="content" id="teaser-container">
    <figure>
      <img src="/assets/opener.jpg" class="opener" alt="Person fotografiert tonns Mülltonnen" />
      <figcaption>Ihr zuverlässiger Mülltonnen-Service im Abo</figcaption>
    </figure>
    <div class="teaser-text-container">
      <h1><span class="white">Der günstigste, zuverlässigste, CO2-neutralste</span> <span class="green animate-fade-in">Mülltonnendienst im Abo</span></h1>
      <p>
        Wir kümmern uns professionell und zuverlässig um Ihre Mülltonnen, Sie konzentrieren sich auf Ihr Kerngeschäft. Entdecken Sie jetzt, wie
        <span class="green"><strong>tonns</strong></span> Ihre Kosten senkt, unnötige Wege und viel Arbeits- und Fahrtzeit einspart und die Umwelt schont.<br />
        Sparen Sie Zeit, Geld und Ressourcen!
      </p>
    </div>
  </div>
</section>
