<section id="cities">
    <h2>Unsere Städte</h2>
    <div class="grid cities">
        <div class="card">
            <p>
            Fürth
            </p>
        </div>
        <div class="card">
            <p>
            Nürnberg
            </p>
        </div>
    </div>
</section>
<section>
    <h2>Unsere Partner</h2>
    <div class="grid">
        <div class="card">
            <img src="" loading="lazy">
            <p>Partner 1, Nürnberg</p>
        </div>
        <div class="card">
            <p>
                Entdecke mehr<br>in unserer App
            </p>
        </div>
    </div>
</section>