<section class="section" id="action-check">
  <div class="content" id="action-dates-container">
    <img src="/assets/images/tonns-logo-small.png" alt="Tonns Logo" />
    <div class="headline-subline" id="action-dates-text">
      <h2>Müllabfuhr-Check!</h2>
      <p>Wann wird meine Mülltonne geleert? Einfach Adresse eingeben und keinen Abfuhrtermin verpassen!</p>
    </div>

    <form id="hubspotForm">
      <div class="autocomplete-container">
        <input class="hubspot-input" type="text" id="address" name="address" placeholder="Adresse eingeben..." required autocomplete="off" />
        <ul id="address-suggestions"></ul>
      </div>
      <input class="hubspot-input" type="email" id="email" name="email" placeholder="E-Mail-Adresse" required />

      <div class="agree-privacy-policy">
        <input type="checkbox" id="agree-checkbox" />
        <span
          >Ich habe die <a href="/imprint"><strong>Datenschutzbestimmungen</strong></a> gelesen und stimme der Verarbeitung meiner Daten wie beschrieben
          zu.</span
        >
      </div>

      <button type="submit">Kostenlose Abholtermine erhalten</button>
    </form>
  </div>
</section>

<section id="service" class="section" style="background-color: #f3f3f3">
  <div class="content">
    <div class="headline-subline">
      <h2>Die smarte Lösung für Ihre Mülltonnen</h2>
      <p>
        Als führender Mülltonnendienst in Deutschland garantieren wir 100% Zuverlässigkeit und Pünktlichkeit. Unser Team übernimmt die Verantwortung und ist Ihr
        persönlicher Ansprechpartner vor Ort.
      </p>
    </div>

<div id="service-descriptions-container">
  <nav id="service-descriptions-menu">
    {% for card in site.data.cards.cards %}
    <button class="{% if forloop.first == false %}button-disable{% endif %}" 
            onclick="setActiveCard('{{ forloop.index0 }}')">
      {{ card.title }}
    </button>
    {% endfor %}
  </nav>

  <div id="service-descriptions">
    <!-- Standardmäßig erstes Bild setzen -->
    <img id="service-image" src="{{ site.data.cards.cards[0].image }}" 
         alt="{{ site.data.cards.cards[0].title }}" loading="lazy">

    <div id="descriptions">
      {% for card in site.data.cards.cards %}
      <article class="description-container {% if forloop.first == false %}hidden{% endif %}" 
               id="{{ card.id }}" 
               data-image="{{ card.image }}" 
               data-title="{{ card.title }}" 
               aria-hidden="{% if forloop.first == false %}true{% else %}false{% endif %}">
        <h3>{{ card.title }}</h3>
        {% for item in card.content %}
        <div class="description">
          <h4>{{ item.subline }}</h4>
          <p class="responsive-text" 
             data-full="{{ item.description }}" 
             data-short="{{ item.mobile_description }}">
            {{ item.description }}
          </p>
        </div>
        {% endfor %}
      </article>
      {% endfor %}
    </div>
  </div>
</div>

  </div>
</section>


<!-- <section>
  <h2>Unsere Partner</h2>
  <div class="grid">
    <div class="card">
      <img src="" loading="lazy" />e
      <p>Partner 1, Nürnberg</p>
    </div>
    <div class="card">
      <p>Entdecke mehr<br />in unserer App</p>
    </div>
  </div>
</section> -->
