<div id="download-app">
    <div class="left">
        <img src="/assets/images/screens.webp" alt="Screenshots der App">
    </div>
    <div class="download-app-content">
        <h2>Lade die App herunter</h2>
        <div>
            <a href="https://apps.apple.com/de/app/tonns/id6738647974" target="_blank" rel="noopener noreferrer">
                <img id="apple-store" src="/assets/icons/ios.svg" alt="Apple App Store">
            </a>
            <a href="https://play.google.com/store/apps/details?id=app.tonns.trashcanfinder" target="_blank" rel="noopener noreferrer">
                <img id="android-store" src="/assets/icons/android.svg" alt="Android App Store">
            </a>
        </div>
    </div>
</div>