<div id="download-app">
  <div class="left">
    <img src="/assets/images/screens.webp" alt="{{ site.data.site_copy.app.screens_alt }}">
  </div>
  <div class="download-app-content">
    <h2>{{ site.data.site_copy.app.title }}</h2>
    <div>
      <a href="{{ site.data.site_copy.app.ios.url }}" target="_blank" rel="noopener noreferrer">
        <img id="apple-store" src="/assets/icons/ios.svg" alt="{{ site.data.site_copy.app.ios.alt }}">
      </a>
      <a href="{{ site.data.site_copy.app.android.url }}" target="_blank" rel="noopener noreferrer">
        <img id="android-store" src="/assets/icons/android.svg" alt="{{ site.data.site_copy.app.android.alt }}">
      </a>
    </div>
  </div>
</div>
