<header class="{% if page.transparent_nav or page.layout == 'city' or page.layout == 'audience' %}transparent{% else %}scrolled{% endif %}">
  <nav class="main-nav">
    <div class="main-nav-content">
      <a href="/" class="logo">
        <span class="logo-light">{% include logo/logo-light.html %}</span>
        <span class="logo-dark">{% include logo/logo-dark.html %}</span>
      </a>

      <ul class="desktop-nav">
        {% for item in site.data.navigation %}
        <li><a href="{{ item.href }}">{{ item.label }}</a></li>
        {% endfor %}
      </ul>

      <div class="mobile-nav">
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
        <label for="openSidebarMenu" class="sidebarIconToggle burger-icon">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
          <div class="mobile-logo">
            <span class="logo-dark">{% include logo/logo-dark.html %}</span>
          </div>
          <div class="sidebar-scroll-area">
            <ul class="sidebarMenuInner">
              {% for item in site.data.navigation %}
              <li><a href="{{ item.href }}">{{ item.label }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
