<header class="transparent">
  <nav class="main-nav">
    <a href="/" class="logo">
      <span class="logo-light">{% include logo/logo-light.html %}</span>
      <span class="logo-dark">{% include logo/logo-dark.html %}</span>
    </a>
    <ul>
      <li><a href="/ueber-uns">Über uns</a></li>
      <li><a href="/standorte">Standorte</a></li>
      <!-- <li><a href="/mitarbeiter">Mitarbeiter</a></li> -->
      <li><a href="/hausmeister">Hausmeister</a></li>
      <li><a href="/hausverwaltungen">Hausverwaltungen</a></li>
      <li><a href="/muelltermine">Müllabfuhr-Termine</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
    </ul>
  </nav>
</header>
