@use "variables" as *;

.animate-slide-up {
  transform: translateY(50px);
  opacity: 0;
  transition: transform 2s ease-out, opacity 2s ease-out;
}

.animate-progress-bar {
  width: 0;
  height: 4px;
  color: $white;
  background-color: $white;
  position: relative;
  transition: width 1.5s ease-out;
}

.animate-progress-bar.in-view {
  width: 100%;
}
