@use "variables" as *;
@use "breakpoints" as *;

.btn {
  text-shadow: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 2.5rem;
  font-size: 1rem;
  line-height: 1.6;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease, fill 0.25s ease, stroke 0.25s ease, text-decoration-color 0.25s ease;
}

.btn-green {
  border-color: rgb(0 221 0);
  background-color: rgb(0 221 0);
  color: rgb(0 0 0);
  &:hover {
    border-color: rgb(0 0 0);
    background-color: rgb(0 0 0);
    color: rgb(255 255 255);
  }
}

.btn-outline-white {
  border-color: rgb(255 255 255 / 0.3);
  color: rgb(255 255 255 / 1);
  &:hover {
    background-color: rgb(255 255 255);
    color: rgb(0 0 0);
  }
}