@use "variables" as *;
@use "mixins" as *;
@use "breakpoints" as *;

.card {
  color: #000;
  background-color: #fff;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  h4{
    font-weight: 600;
  }
  .card-image-container {
    display: flex;
    .card-image {
      width: 100%;
      height: 290px;
      display: flex;
      img {
        width: 100%;
        height: 290px;
        object-fit: cover;
        border-radius: 1.25rem 1.25rem 0 0;
      }
    }
  }
  @include desktop {
    width: 360px !important;
  }
  @include tablet {
    width: 650px !important;
  }
  @include mobile {
    width: 400px !important;
  }
}

.card-borderless {
  color: #000;
  background-color: transparent;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  width: 400px;
  box-shadow: none;

  .card-image-container {
    display: flex;
    .card-image {
      width: 100%;
      height: 290px;
      display: flex;
      img {
        width: 100%;
        height: 290px;
        object-fit: cover;
        border-radius: 1.25rem;
      }
    }
  }

  .card-content {
    align-items: flex-start;
    text-align: left;
    padding-left: 0;
    @include tablet-or-smaller {
      padding-top: 1rem !important;
    }
  }
}

.card-border {
  border: 1px solid #e5e7eb;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 2.5rem 1.75rem;
  h4,
  span {
    margin: 0;
  }
  @include tablet-or-smaller {
    align-items: center;
  }
}

#customers {
  .card {
    width: 400px !important;
    @media (max-width: 1279px) {
      width: 360px !important;
    }
  }
}

#city {
  .card-content {
    padding-bottom: 1rem !important;
  }
  padding-bottom: 5rem;
  h4 {
    font-weight: 400;
  }
  .card-image {
    width: 488px;
    @include mobile(){
      width: 360px!important;
    }
    img {
      width: 488px;
      @include mobile(){
        width: 360px!important;
      }
    }
  }

  .swiper-slide {
    width: 488px !important;
    flex-shrink: 0 !important;
    @include mobile(){
      width: 360px!important;
    }
  }
}
