@use "breakpoints" as *;
@use "variables" as *;

.card {
    color: $black;
    background: rgba($green, 0.5);
    transition: all 100ms linear;
    border-radius: 8px;
    position: relative;
    padding: 1rem;
    display: flex;

    &:hover {
        background: rgba($green, 0.6);
    }

    @include mobile {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    video {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 300px;
        width: 100%;
        border-radius: 8px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        object-fit: cover;
        object-position: left;
    }

    &.video {
        padding: 12px;
        background: $primary;
        border-radius: 64px;

        video {
            border-radius: calc(64px - 12px);
            position: relative;
            top: 0;
            height: auto;
        }

        @include mobile {
            & {
                padding: 10px;
                border-radius: 48px;
            }

            video {
                border-radius: calc(48px - 10px);
                height: auto;
            }
        }
    }

    &.white {
        background: white;
    }
}

.card:has(video) {
    padding-bottom: 300px;
}

.cities .card {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $primary;
    font-size: 1.2rem;

    svg,
    img {
        height: 150px;
        width: 150px;
    }

    @include mobile {
        & {
            min-height: 100px;
        }

        svg,
        img {
            height: 100px;
            width: 100px;
        }

        p {
            font-size: .9rem;
            line-height: 1.5;
            margin-bottom: 0;
        }

        img+p {
            margin-bottom: 1rem;
        }
    }

    img {
        width: auto;
        max-width: 200px;
        object-fit: contain;
    }

    @include mobile {
        & {
            max-width: 150px;
            height: 75px;
            width: 100%;
        }
    }
}

.cities .card {
    background: white;
    opacity: 0.9;
}

.cities {
    @include mobile {
        & { 
            grid-template-columns: 1fr 1fr !important;
        }
    }
}
