.cookie {
    .shadow {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30rem;
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
        display: none;

        &.visible {
            display: block;
        }
    }

    .outer {
        position: fixed;
        top: 35vh;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 10;

        &.visible {
            display: flex;
        }
    }

    .banner {
        padding: 0 2rem 1rem;
        background-color: #fff;
        border-radius: 2rem;
        display: none;
        box-shadow: var(--box-shadow);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        max-width: 500px;
        margin: 2rem;

        &.visible {
            display: flex;
        }

        p {
            font-size: 1.1rem;
            text-align: center;
        }
    }

    .row {
        width: 100%;
    }

    .button-bar {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .btn {
        padding: 1rem 1.5rem;
        border: none;
        border-radius: 2rem;
        cursor: pointer;

        &.grey {
            background-color: #ccc;
        }
    }
}
