@use "variables" as *;
@use "breakpoints" as *;
@use "mixins" as *;
@use "button" as *;

#teaser-container {
  height: 100vh;
  position: relative;
  figure {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent 75%);
      z-index: 1;
      pointer-events: none;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 60% center;
      display: block;
      z-index: 0;
    }
    figcaption {
      display: none;
    }
  }
}

.teaser-text-container {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  text-align: center;
  color: $white;
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  .teaser-headline {
    font-size: 4rem;
    line-height: 1;
  }
}

.teaser-btn-container {
  @include dflex($g: 0.5rem);
}

.section {
  @include dflex();
  flex-direction: column;
  padding: 0.0rem 2rem
}

.content {
  @include dflex($g: 1rem);
  @include center-content();
  width: 100%;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 5rem;
  @include mobile() {
    margin-top: 1.5rem;
    gap: 0;
    padding: 0 1.5rem;
  }
}

.headline-subline {
  @include dflex();
  @include center-content($padding: 0 1rem);
  flex-direction: column;
  margin: 1rem 0;
  flex-direction: column;
  color: $primary;
  text-align: center;
  p {
    font-size: 1.25rem;
    color: var(--light-green);
  }
  h2 {
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.005em;
    font-size: 2.3rem;
    margin: 0.25rem 0 0;
  }

  @include mobile() {
    padding: 0;
  }
}

.slide-container {
  @include dflex($g: 1.25rem);
  flex-wrap: wrap;
  margin-top: 2.5rem;
  text-align: center;
  width: 100%;
  h4 {
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
  }
  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.input-container {
  width: 100%;
}

#action-dates-container {
  img {
    width: 80px;
  }
}

#hubspotForm {
  @include dflex($g: 10px);
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  label {
    display: none;
  }

  .hubspot-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
    &:focus {
      border-color: #10b981;
      outline: none;
    }
  }
}

/* Autocomplete Container */
.autocomplete-container {
  position: relative;
  width: 100%;
  z-index: 1000;
}

/* Dropdown für Adressvorschläge */
#address-suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  background: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 400px;
  z-index: 1050;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  display: none;
  overflow-y: auto;
  max-height: 200px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Dropdown-Einträge */
#address-suggestions li {
  padding: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  color: #333;
  background: white;
  &:hover {
    background: #f0f0f0;
  }
}

/* Entfernt den unteren Border-Radius, wenn Vorschläge sichtbar sind */
.autocomplete-container.active input,
#address.open {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: none !important;
}

/* Checkbox */
.agree-privacy-policy {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  label {
    display: block !important;
    padding-left: 45px;
  }
}

.agree-privacy-policy span {
  margin-left: 50px;
  font-size: 14px;
}

.agree-privacy-policy a {
  color: $middle-green;
}

.agree-privacy-policy a:visited {
  color: $middle-green;
}

input[type="checkbox"] {
  top: 2px;
  left: 12px;
  position: absolute;
  cursor: pointer;
  width: 0px;
  height: 0px;
}

input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid $middle-green;
  border-radius: 20px;
  transition: all 0.2s linear;
  cursor: pointer;
}

input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid $middle-green;
  border-radius: 3px;
  cursor: pointer;
}

input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border: solid $middle-green;
  border-width: 0 0px 0px 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  top: 0px;
  left: 50px;
  transition: all 0.2s linear;
  cursor: pointer;
}

input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 2px;
  height: 7px;
  border: solid $middle-green;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 7px;
  cursor: pointer;
}

/* Service-Description */
#service {
  .content {
    gap: 0;
  }
}

.hidden {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.active {
  position: relative;
  width: 100%;
  opacity: 1;
  visibility: visible;
  height: auto;
  overflow: visible;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

#service-descriptions-container {
  @include dflex($g: 1.5rem);
  flex-direction: column;
  width: 100%;
  color: $primary;
  margin-top: 1rem;
  h4 {
    margin: 0.5rem 0;
  }

  h3 {
    font-size: clamp(1.2rem, 2vw, 2rem);
    margin-top: clamp(0.5rem, 3vw, 1.2rem);
    margin-bottom: clamp(0.5rem, 3vw, 2rem);
    @include mobile() {
      margin-top: 0rem;
    }
  }

  #service-image {
    transition: transform 0.3s ease-in-out;
  }

  #service-descriptions-menu {
    @include dflex($g: 12px);
    button {
      width: 190px;
    }
    @include mobile() {
      display: none;
    }
  }

  #service-descriptions {
    @include dflex($g: 3rem);
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    @include mobile() {
      flex-direction: column !important;
    }
    img {
      height: clamp(300px, 50vw, 600px);
      object-fit: cover;
      border-radius: 20px;
      @include mobile() {
        width: 100%;
        height: auto;
      }
    }

    #descriptions {
      display: flex;
      justify-content: flex-start;
      height: 100%;
      gap: 1rem;
      @include mobile() {
        flex-direction: column !important;
      }
      p {
        font-size: clamp(0.7rem, 1.5vw, 1rem);
        margin: 0;
      }
    }

    .description-container {
      height: 100%;
      display: flex;
      gap: 1.5rem;

      .description {
        margin-bottom: 1rem;

        @include mobile() {
          margin-bottom: 0rem;
        }
      }
      @include tablet-or-smaller() {
        flex-direction: column;
      }
    }
  }
}

#professional {
  .content {
    margin-bottom: 1rem;
  }
  .professional-image-container {
    height: clamp(350px, 60vw, 600px);
    width: 100%;
    overflow: hidden;
    position: relative;
    @include dflex();
    figure {
      margin: 0;
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-position: center;
        object-fit: cover;
      }
      figcaption {
        display: none;
      }
    }
  }
  .professional-description-cards {
    @include center-content();
    @include dflex();
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.slide-container{

}