@use "breakpoints" as *;

@mixin dflex($jc: center, $ai:center, $g: 0px){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

@mixin center-content($max-width: 1440px, $padding: 0 1rem) {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding: $padding;
}
