$black: black;
$primary: #3a415c;
$accent: #FCFAF1;
$white: #fff;
$light-green: #00B200;
$middle-green: #2E7D32;


body {
    font-family: 'Poppins', Arial, sans-serif;
}



:root {
    --primary: #3a415c;
    --accent: #FCFAF1;
    --light-green: #00B200;
    --white: #fff;
    --heading-font: 'Poppins';
    --body-font: 'Poppins';
    --secondary: var(--accent);
    --foreground: var(--black);
    --background: var(--white);
}

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.light-green {
    color: var(--light-green);
}

.body-font {
    font-family: var(--body-font);
}

.heading-font {
    font-family: var(--heading-font);
}