<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ site.url }}{{ page.url }}"
        },
        "image": "{{ page.image }}",
        "url": "{{ site.url }}{{ page.url }}",
        "headline": "{{ page.title }}",
        "description": "{{ page.description }}",
        "publisher": {
            "@type": "Organization",
            "name": "{{ site.title }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site.url }}/assets/images/512x512.png"
            }
        },
        "datePublished": "{{ page.date }}",
        "articleBody": "{{ page.excerpt | strip_html }}",
        "author": {
            "@type": "Organization",
            "name": "{{ site.title }}"
        }
    }
</script>
