<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "{{ site.title }}",
        "description": "{{ site.description }}",
        "url": "{{ site.url }}",
        "publisher": {
            "@type": "Organization",
            "name": "{{ site.title }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site.url }}/assets/images/favicon.png"
            }
        }
    }
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "{{ site.title }}",
  "url": "{{ site.url }}",
  "logo": "{{ site.url }}/assets/images/favicon.png"
}
</script>