<section class="section" id="action-check">
  <div class="content" id="action-dates-container">
    <img src="/assets/images/tonns-logo-small.webp" alt="Tonns Logo" />
    <div class="headline-subline" id="action-dates-text">
      <h2>Müllabfuhr-Check!</h2>
      <p>Wann wird meine Mülltonne geleert? Einfach Adresse eingeben und keinen Abfuhrtermin verpassen!</p>
    </div>

    <form id="hubspotForm" action="#" method="POST">
      <div class="autocomplete-container">
        <input
          class="hubspot-input"
          type="text"
          id="address"
          name="address"
          placeholder="Adresse eingeben..."
          required
          autocomplete="off"
          aria-label="Adresse eingeben"
        />
        <ul id="address-suggestions"></ul>
      </div>

      <input class="hubspot-input" type="email" id="email" name="email" placeholder="E-Mail-Adresse" required aria-label="E-Mail-Adresse eingeben" />

      <div class="agree-privacy-policy">
        <input type="checkbox" id="agree-checkbox" />
        <span
          >Ich habe die <a href="/privacy" target="_blank"><strong>Datenschutzbestimmungen</strong></a> gelesen und stimme zu.</span
        >
      </div>

      <button type="submit">Kostenlose Abholtermine erhalten</button>
    </form>
  </div>
</section>
