<section class="section">
  <div class="content">
    <div class="headline-subline">
      <p>Der effizienteste, günstigste & CO₂-neutralste Mülltonnendienst</p>
      <h2 class="headline-02">Für Hausmeisterdienste, Hausverwaltungen und Eigentümer.</h2>
    </div>

    <div class="card-container">
      <a class="card" href="#">
        <div class="card-image-container">
          <div class="card-image"></div>
        </div>
        <h4>100% zuverlässig und sicher!</h4>
        <span
          >Keine Ausfälle, garantierte Leistung. <br />
          Wir übernehmen die Haftung!
        </span>
      </a>
      
      <a class="card" href="#">
        <div class="card-image-container">
          <div class="card-image"></div>
        </div>
        <h4>Garantiert günstig!</h4>
        <span>Du zahlst pro Tonne und Bewegung nur 1,75€!</span>
      </a>

      <a class="card" href="#">
        <div class="card-image-container">
          <div class="card-image"></div>
        </div>
        <h4>100% CO₂-neutral!</h4>
        <span>Wir gehen zu Fuß oder fahren elektrisch</span>
      </a>
    </div>
  </div>
</section>
