<section id="customers" class="section" style="background-color: #f3f3f3">
  <div class="content">
    <div class="headline-subline">
      <p>Für wen ist tonns?</p>
      <h2>Die perfekte Lösung für deine Branche!</h2>
    </div>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
      {% for card in site.data.customers %}
      <div class="swiper-slide">{% include card.html card=card %}</div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
