<section id="professionell" class="section">
  <div class="content">
    <div class="headline-subline">
      <h2>Zuverlässig, Planbar, Professionell!</h2>
      <p>
        Mit tonns setzen Sie auf einen professionellen und nachhaltigen Mülltonnendienst, der Ihnen maximale Verlässlichkeit und Transparenz bietet. Unser
        System informiert unsere Mitarbeiter und die Community automatisch und frühzeitig, sodass Ihre Mülltonnen stets pünktlich bereitgestellt und
        zurückgestellt werden.
      </p>
    </div>
  </div>
  <div class="professionell-image-container">
    <figure>
      <img src="/assets/images/heatmap.jpg" class="" alt="Bild zeigt die Mitarbeiter" />
      <figcaption>Zuverlässig, Planbar, Professionell!</figcaption>
    </figure>
    <div class="professionell-description-cards">
      <div class="professionell-card">
        
      </div>
    </div>
  </div>
</section>
