<section id="opener">
  <div id="teaser-container">
    <figure>
      <img src="/assets/images/opener.avif" class="opener" alt="Person fotografiert tonns Mülltonnen" />
      <figcaption>Ihr zuverlässiger Mülltonnen-Service im Abo</figcaption>
    </figure>
    <div class="teaser-text-container">
      <span class="teaser-headline">Mülltonnen rausstellen? <br> Wir übernehmen!</span>
      <div class="teaser-btn-container">
        <a href="#" class="btn btn-outline-white">Abholtermine</a>
        <a href="#" class="btn btn-green">Jetzt Buchen</a>
      </div>
    </div>
  </div>
  <div id="opener-end-marker" style="height: 1px;"></div>
</section>