

<section id="service" class="section" style="background-color: #f3f3f3">
  <div class="content">
    <div class="headline-subline">
      <h2>Die smarte Lösung für Ihre Mülltonnen</h2>
      <p>
        Als führender Mülltonnendienst in Deutschland garantieren wir 100% Zuverlässigkeit und Pünktlichkeit. Unser Team übernimmt die Verantwortung und ist Ihr
        persönlicher Ansprechpartner vor Ort.
      </p>
    </div>

    <div id="service-descriptions-container">
  
      <div id="service-descriptions">
        {% for card in site.data.cards.cards %}
        {% assign mod = forloop.index | modulo: 2 %}
        <article
          class="description-container{% if mod == 0 %} row-reverse{% endif %}"
          id="{{ card.id }}"
          data-image="{{ card.image }}"
          data-title="{{ card.title }}"
          aria-hidden="false"
        >
          <!-- Bild innerhalb der Card für mobile Ansicht -->
          <img src="{{ card.image }}" alt="{{ card.title }}" class="card-image" loading="lazy" />

          <div class="card-content-text">
            <h3>{{ card.title }}</h3>
            {% for item in card.content %}
            <div class="description">
              <h4>{{ item.subline }}</h4>
              <p class="responsive-text" data-full="{{ item.description }}" data-short="{{ item.mobile_description }}">{{ item.description }}</p>
            </div>
            {% endfor %}
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

