<!DOCTYPE html>
<html lang="de">
  <head>
    {% seo %}
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <main>{{ content }}</main>
    {% include footer.html %}

    {%- if page.include_form_handler -%}
      <script src="{{ "/assets/js/form-handler.js" | relative_url }}"></script>
    {%- endif -%}

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>

    <!-- SwiperJS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{{ "/assets/js/slider.js" | relative_url }}"></script>
    

  </body>
</html>

