---
layout: page
---

<section>
  <div class="card">
    <div class="row">
      {% include icon/{{ page.icon }}.html %} &emsp;&emsp;
      <h3>{{ page.subtitle }}</h3>
    </div>
  </div>
</section>

<section>{{ content }}</section>

<section>
  <div class="grid2">
    <div class="card">
      <h3>Über uns</h3>
      <p>
        Lernen Sie uns kennen und überzeugen Sie sich selbst, wie wir helfen können.
      </p>
      <div class="button-row">
        <a href="/about/" class="button">Mehr erfahren</a>
      </div>
    </div>
    <div class="card">
      <h3>Unsere Arbeitsweise</h3>
      <p>Überzeugen Sie sich von unserer agilen Arbeitsweise und lesen Sie mehr.</p>
      <div class="button-row">
        <a href="/work/" class="button">Mehr erfahren</a>
      </div>
    </div>
  </div>
</section>
